/* General Stylings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(219, 76%, 92%);
}

.text-style {
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

.border-round {
    border-radius: 15px;
}

/* Card Section */

.card {
    max-width: 23%;
    min-height: 70vh;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 10px hsl(220, 15%, 55%);
}

.card img {
    width: 100%;
    height: 45vh;
    padding: 15px;
    border-radius: 8%;
}

.card h2 {
    font-size: 19px;
    width: 79%;
    margin: 0 auto;
}

.card p {
    margin-top: 20px;
    font-size: 15px;
    color: rgb(163, 159, 159);
    padding: 0 35px;
}

/* Movil Rules */

/*@media only screen and (max-width: 1025px) {
    .card {
        width: 30%;
        margin-top: 80px;
        height: 470px;
    }
}

@media only screen and (max-width: 769px) {
    .card {
        width: 40%;
        margin-top: 80px;
        height: 470px;
    }
}

@media only screen and (max-width: 426px) {
    .card {
        width: 75%;
        margin-top: 80px;
        height: 470px;
    }
}

@media only screen and (max-width: 376px) {
    .card {
        width: 90%;
        margin-top: 80px;
        height: 490px;
    }
}

@media only screen and (max-width: 280px) {
    .card {
        height: 440px;
    }
}*/