/* General Stylings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(219, 76%, 92%);
}

.text-style {
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

.border-round {
    border-radius: 15px;
}

/* Card Section */

.card {
    width: 23%;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 10px hsl(220, 15%, 55%);
}

.card img {
    width: 100%;
    padding: 1rem;
    border-radius: 8%;
}

.card h2 {
    font-size: 1.25rem;
    width: 79%;
    margin: 0 auto;
}

.card p {
    margin: 20px 0 30px 0;
    font-size: 1rem;
    color: rgb(163, 159, 159);
    padding: 0 35px;
}

/* Movil Rules */

@media only screen and (max-width: 1025px) {
    .card {
        width: 35%;
    }
}

@media only screen and (max-width: 769px) {
    .card {
        width: 45%;
    }
}

@media only screen and (max-width: 556px) {
    .card {
        width: 55%;
    }
}

@media only screen and (max-width: 426px) {
    .card {
        width: 75%;
    }
}

@media only screen and (max-width: 321px) {
    .card {
        width: 90%;
    }

    .card h2 {
        font-size: 1rem;
    }

    .card p {
        font-size: .75rem;
        margin: 10px 0 20px 0;
    }
}